@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.title {
  background: -webkit-linear-gradient(#a663cc, #72efdd);
  background-clip: text;
  font-family: 'Lobster', cursive !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
